.square {
    height: 50px;
    width: 50px;
}

.black.square {
    background-color: rgb(165, 165, 165);
}

.white.square {
    background-color: rgb(233, 233, 233);
}

.board-row {
    display: flex;
}


.piece-icon {
    max-height: 500%;
    max-width: auto;
}

.piece.white {
    color: white; 
    font-size:xx-large;
    
}

.highlighted.white.square {
    background-color: #e2c9c9;
}

.highlighted.black.square {
    background-color: #c3b0b0
}

.selected.black.square {
    background-color: rgb(255, 255, 255);
}

.selected.white.square {
    background-color: rgb(255, 255, 255);
    
}




.highlighted.circle {
    background-color: rgb(192, 200, 207);
    position: absolute;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin-top: 17px;
    margin-left: 17px;
}