.square {
    height: 50px;
    width: 50px;
}

.black {
    background-color: #999;
}
.white {
    background-color: #eee;
}

.board-row {
    display: flex;
}


.piece-icon {
    max-height: 500%;
    max-width: auto;
}
.selected.black.square {
    background-color: #ccc;
}
.selected.white.square {
    background-color: #ccc;
}
